
<!DOCTYPE html>

<html>
<head>
{% load static %}
{% include 'static/css/style_css.html' %}

<title></title>
<!-- jQuery-->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Kappe Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900' rel='stylesheet' type='text/css'>
<!--//fonts-->

</head>
<body>
	<div class="header">
	<!---->
		<div class="header-left">
			<div class="logo">
				<a href="index.html"><img src="{% static 'images/logo.png' %}" alt=""></a>
			</div>
			<div class="top-nav">
				<ul >
					<li class="active" ><a href="index.html" >{{x.name}}.HOME</a></li>
					<li><a href="work.html" class="black" > WORK</a></li>	
					<li><a href="about.html" class="black1"> ABOUT</a></li>
					<li><a href="blog.html" class="black2" > BLOG</a></li>
					<li><a href="404.html" class="black3" > SERVICES</a></li>
					<li><a href="contact.html" class="black4" > CONTACT</a></li>
				</ul>
			</div>
			<ul class="social-in">
				<li><a href="#"><i> </i></a></li>
				<li><a href="#"><i class="gmail"> </i></a></li>
				<li><a href="#"><i class="twitter"> </i></a></li>
				<li><a href="#"><i class="pin"> </i></a></li>
				<li><a href="#"><i class="dribble"> </i></a></li>
				<li><a href="#"><i class="behance"> </i></a></li>
				
			</ul>
			<p class="footer-class">Template by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
		</div>
		<!---->
		<!---->
		<div class="header-top">
			<div class="logo-in">
				<a href="index.html"><img src="{% static 'images/logo.png' %}" alt=""></a>
			</div>
			<div class="top-nav-in">
			<span class="menu"><img src="{% static 'images/menu.png' %}" alt=""> </span>
				<ul >
					<li class="active" ><a href="index.html" >HOME</a></li>
					<li><a href="work.html" class="black" > WORK</a></li>	
					<li><a href="about.html" class="black1"> ABOUT</a></li>
					<li><a href="blog.html" class="black2" > BLOG</a></li>
					<li><a href="404.html" class="black3" > SERVICES</a></li>
					<li><a href="contact.html" class="black4" > CONTACT</a></li>
				</ul>
				<script>
					$("span.menu").click(function(){
						$(".top-nav-in ul").slideToggle(500, function(){
						});
					});
			</script>

			</div>
			<div class="clear"> </div>
		</div>
<!---->
{% comment %} {{x}} {% endcomment %}
{% comment %} {% if x %} {% endcomment %}
{% for a in x %}
<div class="content-grid">
	<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
	
	<h2 class="b-animate b-from-left    b-delay03 ">

	<span>{{a.name}}</span>
	<p>{{a.title}}</p>
	
	
	<img src = "{{a.image.url}}"></img>
	</h2>
	</a>
</div>
{% endfor %}



{% for x in x %}


<div class="content-grid">
	<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
		<img  src="{{x.image.url}}" />
		<div class="b-wrapper">
			<h2 class="b-animate b-from-left    b-delay03 ">
				<span>{{x}}</span>
				<p>{{x.title}}</p>
				<i> </i>
			</h2>
		</div>
	</a>
</div>
			

{% endfor %}
{% comment %} {% endif %} {% endcomment %}
		

			
		
			<div class="content-grid">
				<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
					<img  src="{% static 'images/pi3.jpg' %}" />
						<div class="b-wrapper">
							<h2 class="b-animate b-from-left    b-delay03 ">
								<span>Cool App Design</span>
								<p>development, mobile</p>
								<i> </i>
							</h2>
						</div>
				</a>
			</div>
			<div class="content-grid">
				<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
					<img  src="{% static 'images/pi6.jpg' %}" />
						<div class="b-wrapper">
							<h2 class="b-animate b-from-left    b-delay03 ">
								<span>Cool App Design</span>
								<p>development, mobile</p>
								<i> </i>
							</h2>
						</div>
				</a>
			</div>
			<div class="content-grid">
				<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
					<img  src="{% static 'images/pi2.jpg' %}" />
						<div class="b-wrapper">
							<h2 class="b-animate b-from-left    b-delay03 ">
								<span>Cool App Design</span>
								<p>development, mobile</p>
								<i> </i>
							</h2>
						</div>
				</a>
			</div>
			<div class="content-grid">
				<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
					<img  src="{% static 'images/pi5.jpg' %}" />
						<div class="b-wrapper">
							<h2 class="b-animate b-from-left    b-delay03 ">
								<span>Cool App Design</span>
								<p>development, mobile</p>
								<i> </i>
							</h2>
						</div>
				</a>
			</div>
			<div class="content-grid">
				<a href="single.html" class="b-link-stripe b-animate-go  thickbox">
					<img  src="{% static 'images/pi9.jpg' %}" />
						<div class="b-wrapper">
							<h2 class="b-animate b-from-left    b-delay03 ">
								<span>Cool App Design</span>
								<p>development, mobile</p>
								<i> </i>
							</h2>
						</div>
				</a>
			</div>
			<div class="clear"> </div>
			<div class="arrow">
				<img  src="{% static 'images/ic.png' %}" />
				<ul class="social ">
					<li><span><i> </i>9930 1234 5679</span></li>
					<li><a href="mailto:info@example.com"><i class="mes"> </i>info@example.com</a></li>
					<li><span><i class="down"> </i>street address example</span></li>
				</ul>
			</div>
		</div>
		<div class="clear"> </div>
		<p class="footer-class-in">Copyright © 2015 Kappe Template by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
	</div>
</body>
</html>